#six,#seven,#player22six,#player22seven,#player2six,
        #player2seven,#fourteen,#thirteen{
            visibility: hidden;
        }
        #rounded{
            border-radius: 30%;
        }
        #rannum,#click{
            color:black;
        }
        
        .numbers{
            display: grid;
            grid-template-columns: 320px 400px;
        }
        #dice12{
            position: relative;
            left: 150px;
        
        }
        #game{
            display: grid;
            grid-template-columns: 750px 750px;
        }
        #player1{
            background-color: lightblue;
        }
        #player2{
            background-color: skyblue;
        }
        #dice22{
            position: relative;
            left:150px;
        }
        
        #gameOver{
            display: none;
            color: red;
            font-size: 200px;
            font-family:cursive;
            text-shadow: 2px 5px 4px yellow;
            text-align: center;
        }
