#six,#seven,#player22six,#player22seven,#player2six,
        #player2seven,#fourteen,#thirteen{
            visibility: hidden;
        }
        #rounded{
            border-radius: 30%;
        }
        #rannum,#click{
            color:black;
        }
        
        .numbers{
            display: grid;
            grid-template-columns: 45% 55%;
            }
        #dice12{
            position: relative;
            left: 2%;
        
        }
        #game{
            display: flex;
        }
        #player1{
            background-color: lightblue;
            width:50%;
        }
        #player2{
            background-color: skyblue;
            width:50%;
        }
        #dice22{
            position: relative;
            left:2%;
        }
        #player1{
            pointer-events: all;

        }
        #gameOver{
            display: none;
            color: red;
            font-size: 10vh;
            font-family:cursive;
            text-shadow: 2px 5px 4px yellow;
            text-align: center;
        }
        #playagain{
            
            display: none;
            color: red;
            font-size: 100px;
            
            font-family:cursive;
            text-shadow: 2px 5px 4px yellow;
            text-align: center;
        }
        /*#another{
            text-decoration: none;
        }*/
        /*@media screen and (min-width:180px) and (max-width:480px) {
            #scndsncd,#frstscnd{
                position: relative;
                top:200%;
            }
        }*/
        #click,#sumplayer1,#sumplayer2{
            font-size: large;
        }
